
body {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
}
h1 {
  font-size: 1.6em;
  text-align: center;
  margin-top: 20px;
  white-space: nowrap;
}
.button-container button {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 15px;
  font-size: 1.2em;
}
