
body {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
}
.button-container button {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 15px;
  font-size: 1.2em;
}
